extends layout

block content
  form(class='container search-form', method='GET', action='')
    label(for='search-input', class='hidden')= 'Search Term'
    input(type='text', id='search-input', name='q', placeholder='Search for learning management systems...')
    input(type='submit', value='Search')

  if showResults
    section(id='results', class='container')
      h2(class='hidden')= 'Results'

      - var hasResults = (searchResults.length > 0)
      if hasResults
        ul(class='project-list')

          each project in searchResults

            li(class='project')
              span(class='project-name')= project.name

              ul(class='project-info')
                li(class='project-category')
                  span(class='info-title')= 'Category'
                  span(class='info-value')= project.category

                li(class='project-platform')
                  span(class='info-title')= 'Platform'
                  span(class='info-value')= project.platform

                li(class='project-license')
                  span(class='info-title')= 'License'
                  span(class='info-value')= project.license

                li(class='project-source')
                  span(class='info-title')= 'Source'
                  a(class='info-value', href=project.sourceUrl)= project.sourceHost

              p(class='project-description')= project.description

      else
        p(class='no-results-message')= 'No results found'
