doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= title
    meta(name='Description', content='A search engine for open-source higher education projects')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:700,900')
    link(rel='stylesheet', href='style/main.min.css')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-82461406-1', 'auto');
      ga('send', 'pageview');
  body
    a(class='hidden', href='#content')= 'Skip to Content'

    header
      h1
        a(href='/')= 'University Commons'
      span(class='tagline')= 'Search for open-source higher education projects'

    nav
      ul
        li
          a(href='/about#what-is-this')= 'What is This?'
        li
          a(href='/about#add-project')= 'Add Your Project'
        li
          a(href='https://github.com/universitycommons/universitycommons.io')= 'View on GitHub'

    main(id='content')
      block content

    block script
